@keyframes fadeInOut {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.hero {
  animation-duration: 1s;
  animation-name: fadeInOut;
}
