$btncolor-map: ( 
  uno: #0e6cff,
  due: #ff8700,
  tre: #4caf50,
);
//ciclo la mappa dei valori
@each $numero, $color in $btncolor-map {
    .btn-#{$numero} {
        background-color: #{$color};
    }
}